.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

html
{
  font-family: 'Roboto';
  background-color: #101010;
  color: #F0F0F0;
}

h1{
  font-family: 'Cinzel';
}

h2{
  font-family: 'Cinzel';
}

h3{
  font-family: 'Cinzel';
}

h4{
  font-family: 'Cinzel';
}

h5{
  font-family: 'Cinzel';
}

h6{
  font-family: 'Cinzel';
}

p{

}

p[class="lead"]{
  font-weight: bold;
}

.primary{
  color: #F0F0F0;
}

.secondary{
  color: #CCCCCC;
}

.dark{
  color: #333333;
}

.medium-light{
  color: #666666;
}

.light{
   color: #999999;
}

blockquote{
  font-style: italic;
}

.alert{
}

.alert-success{
  color: #46a324;
}

.alert-danger{
  color: #ef3a3e;
}

.alert-warning{
  color: #ffad42;
}

.alert-info{
  color: #1b96ff;
}

button{
  font-family: 'Roboto';
  padding:6px 0 6px 0;
  color:#fff;
  min-width: 100px;
	border-radius:10px;
	border:1px solid #ccc;
  box-shadow:1px 1px 3px #000000;
  background-color: #a08989;
  font-weight: bold;
}

button:hover{
  background-color: #333333;
}

.btn-primary:hover{
}

.btn-warning:hover{
  background-color: #ffad42;
}

.btn-danger:hover{
  background-color: #ef3a3e;
}

.btn-info:hover{
  background-color: #1b96ff;
}

.btn-success:hover{
  background-color: #46a324;
}

.btn-outline:hover{
}

.btn-sm:hover{
}

.btn-lg:hover{
}

li{

}

input{
  font-family: 'Roboto';
}

select{

}

option{

}

textarea{

}

input[type="radio"]
{

}

input[type="checkbox"]
{

}

input[type="submit"]
{

}

.list-group{

}

.list-group-item
list-group-item-action
flex-column
align-items-start {

}

.d-flex w-100 justify-content-between{

}

.mb-1{

}

.list-group-item list-group-item-action flex-column align-items-start{

}

.card{

}

.card-img-top{

}

.card-body{

}

.card-title{

}

.card-text{

}

.btn btn-primary{

}

.card mb-3{

}

.row no-gutters{

}

.col-md-4{

}

.card-img{

}

.col-md-8{

}

.card bg-dark text-white{

}

.card-img-overlay{

}